.mainLayout {
    width: 70vw;

    margin: 0 auto;
    padding: 0 0.5rem;
}

@media screen and (max-width: 500px) {
    .mainLayout {
        width: 95vw;
    }
}

.mainLayout__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 1rem 0;
}

.mainLayout__header {
    display: flex;
    justify-content: flex-start;
}